html, body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

canvas {
  display: block;
}

#canvas-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin: 5px;
}

button:hover {
  background-color: #255b8a;
}

button:disabled {
  background-color: #6e97bb;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.instructions {
  text-align: center;
}

hr {
  margin-top: 20px;
}

.slide-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px 20px;
  flex-wrap: wrap;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 150px; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover, .slider:disabled {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.loader {
  border: 10px solid #e6e6e6; /* Light Grey */
  border-top: 10px solid #363636; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes spin {
  0% { 
    transform: translateX(-50%) rotate(0deg);
  }
  100% { 
    transform: translateX(-50%) rotate(360deg);
  }
}